@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.aspect-square {
		padding-top: 100%;
	}
}

@keyframes rotatePlanet {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.rotate-forever {
	animation: rotatePlanet 10s linear infinite;
}

body {
	/* background-color: #f6f6f6; */
	background-color: #020126;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@keyframes spin-slow {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes orbit {
	0% {
		transform: rotate(0deg) translateX(200px) rotate(0deg);
	}
	100% {
		transform: rotate(360deg) translateX(200px) rotate(-360deg);
	}
}

.animate-spin-slow {
	animation: spin-slow 20s linear infinite;
}

.animate-orbit {
	animation: orbit 20s linear infinite;
}

.fixed.inset-0.flex.items-center.justify-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.relative.text-center.text-black.p-6.bg-bentoColor5.rounded-lg.shadow-lg.w-128.h-128.border-8.border-bentoColor4 {
	width: 512px; /* Fixed width */
	height: 420px; /* Fixed height */
}

.transform.scale-75 {
	transform: scale(0.75);
}

.speech-bubble {
	position: relative;
	background: white;
	border-radius: 0.4em;
	padding: 20px; /* Increased padding */
	max-width: 420px;
}

.speech-bubble::after {
	content: "";
	position: absolute;
	bottom: -80px; /* Adjust to match the design */
	left: 50%;
	width: 0;
	height: 0;
	border: 80px solid transparent; /* Increase the border size for a larger connector */
	border-top-color: white;
	border-bottom: 0;
	border-left: 0;
	margin-left: -20px; /* Adjust to center the connector */
	margin-bottom: 0; /* Remove the margin-bottom adjustment */
	transform: scaleX(-1);
}
